In [1]:
cd "./dataset/data"

/home/jupyter/cse519_project/dataset/data

In [2]:
pip install reverse_geocoder pytz timezonefinder --user

Requirement already satisfied: reverse_geocoder in /opt/conda/lib/python3.7/site-packages (1.5.1)
Requirement already satisfied: pytz in /opt/conda/lib/python3.7/site-packages (2020.1)
Requirement already satisfied: timezonefinder in /home/jupyter/.local/lib/python3.7/site-packages (4.5.0)
Requirement already satisfied: numpy>=1.11.0 in /opt/conda/lib/python3.7/site-packages (from reverse_geocoder) (1.18.5)
Requirement already satisfied: scipy>=0.17.1 in /opt/conda/lib/python3.7/site-packages (from reverse_geocoder) (1.5.2)
Note: you may need to restart the kernel to use updated packages.

import os
for root, dirs, files in os.walk('.'):
    print(root, dirs, files)

In [3]:
import os

files_list = []

for root, dirs, files in os.walk("."):
    for file in files:
        if file.endswith(".json"):
             files_list.append(str(os.path.join(root, file)))

In [4]:
import json
import pandas as pd

geos = pd.DataFrame([])

geo_cnt = 0
place_cnt = 0
user_loc_cnt = 0

for file_name in files_list:
    temp = pd.read_json(file_name, orient='records',convert_dates=False)
    geos = pd.concat([geos,temp], ignore_index=True)

In [5]:
def fill_coordinates(row):
    try:
        coordinates = row['place']['bounding_box']['coordinates']
        return (coordinates[0][0][1], coordinates[0][0][0])
    except:
        return None

geos['coordinate'] = geos.apply(fill_coordinates, axis = 1)

In [6]:
geos.dropna(inplace=True)
geos.drop(columns=['place'], inplace=True)

In [7]:
coords = geos['coordinate'].tolist()
coords = tuple(coords)

import reverse_geocoder as rg
results = rg.search(coords)

country = []
state = []

for rec in results:
    country.append(rec['cc'])
    state.append(rec['admin1'])

country = pd.Series(country)
state = pd.Series(state)

Loading formatted geocoded file...

In [8]:
geos['country'] = country
geos['state'] = state
geos.dropna(inplace=True)

In [9]:
from timezonefinder import TimezoneFinder
import datetime
import pytz

tf = TimezoneFinder()

def get_localtime_in_seconds(rows):
    coor = rows['coordinate']
    lati = coor[0]
    logi = coor[1]
    zone_str = tf.timezone_at(lng = logi, lat = lati)
    if zone_str == None:
        return None, None, None, None
    d = datetime.datetime.fromtimestamp(rows['timestamp_ms']/1000, tz=pytz.timezone(zone_str))
    h, m, s = d.hour, d.minute, d.second
    month, weekday, day_in_month = d.month, d.weekday(), d.day
    return h*3600+m*60+s, month, weekday, day_in_month

geos['time_in_second'], geos['month'], geos['weekday'], geos['day_in_month'] = zip(*geos.apply(get_localtime_in_seconds, axis=1))
geos

,user_id,timestamp_ms,coordinate,country,state,time_in_second,month,weekday,day_in_month
0,736831058906349568,1586527800666,"(25.209613, 49.416654)",SA,Eastern Province,61800,4,4,10
1,871377789764685824,1586527801661,"(-20.399866, -40.606199)",BR,Espirito Santo,40201,4,4,10
2,838134445068668930,1586527802666,"(-23.08302, -43.795449)",BR,Rio de Janeiro,40202,4,4,10
3,140442459,1586527802658,"(18.845343, 72.74484)",IN,Maharashtra,70802,4,4,10
4,306124870,1586527806666,"(55.894729, -3.328512)",GB,Scotland,54606,4,4,10
...,...,...,...,...,...,...,...,...,...
1363360,3404591973,1585723400660,"(28.250764, -81.47749)",JP,Fukuoka,9800,4,2,1
1363361,148940626,1585723401663,"(19.357102, -99.191996)",BR,Rio Grande do Sul,2601,4,2,1
1363362,2304015812,1585723405663,"(-22.814792, -43.410273)",ZA,Western Cape,13405,4,2,1
1363363,302237789,1585723414664,"(23.532013, 115.834717)",PH,,53014,4,2,1
1363364,1652863424,1585723415659,"(-21.401747, -42.196098)",BR,Parana,13415,4,2,1

In [10]:
geos.dropna(inplace=True)

In [11]:
def get_label(row):
    t = row['time_in_second']
    # every 15 minute
    return t//(15*60)

geos['label'] = geos.apply(get_label, axis=1)
geos

,user_id,timestamp_ms,coordinate,country,state,time_in_second,month,weekday,day_in_month,label
0,736831058906349568,1586527800666,"(25.209613, 49.416654)",SA,Eastern Province,61800,4,4,10,68
1,871377789764685824,1586527801661,"(-20.399866, -40.606199)",BR,Espirito Santo,40201,4,4,10,44
2,838134445068668930,1586527802666,"(-23.08302, -43.795449)",BR,Rio de Janeiro,40202,4,4,10,44
3,140442459,1586527802658,"(18.845343, 72.74484)",IN,Maharashtra,70802,4,4,10,78
4,306124870,1586527806666,"(55.894729, -3.328512)",GB,Scotland,54606,4,4,10,60
...,...,...,...,...,...,...,...,...,...,...
1363360,3404591973,1585723400660,"(28.250764, -81.47749)",JP,Fukuoka,9800,4,2,1,10
1363361,148940626,1585723401663,"(19.357102, -99.191996)",BR,Rio Grande do Sul,2601,4,2,1,2
1363362,2304015812,1585723405663,"(-22.814792, -43.410273)",ZA,Western Cape,13405,4,2,1,14
1363363,302237789,1585723414664,"(23.532013, 115.834717)",PH,,53014,4,2,1,58
1363364,1652863424,1585723415659,"(-21.401747, -42.196098)",BR,Parana,13415,4,2,1,14

In [68]:
# select US only data
geos = geos.loc[geos.country=='US']
geos.reset_index(inplace = True)
geos

,level_0,index,user_id,timestamp_ms,coordinate,country,state,time_in_second,month,weekday,day_in_month,label
0,0,5,1139323604330569729,1586527809663,"(41.481426, -87.674421)",US,Illinois,33009,4,4,10,36
1,1,10,27377135,1586527816658,"(33.606077, -117.86894)",US,California,25816,4,4,10,28
2,2,11,515108272,1586527817665,"(30.355644, -85.605166)",US,Florida,33017,4,4,10,36
3,3,15,118811691,1586527831663,"(40.361580000000004, -80.095586)",US,Pennsylvania,36631,4,4,10,40
4,4,24,1185068084010180608,1586527838658,"(36.992427, -109.060257)",US,Colorado,29438,4,4,10,32
...,...,...,...,...,...,...,...,...,...,...,...,...
302899,302899,1363329,499725537,1585723214662,"(7.299143, 3.777011)",US,California,27614,4,2,1,30
302900,302900,1363333,437390598,1585723219661,"(6.482676, 3.198942)",US,California,27619,4,2,1,30
302901,302901,1363334,60419030,1585723220662,"(-24.008814, -46.826039)",US,Oklahoma,13220,4,2,1,14
302902,302902,1363344,742373012226244608,1585723244666,"(13.586457, 100.472022)",US,Illinois,49244,4,2,1,54
302903,302903,1363352,131433207,1585723388658,"(42.028374, -88.026334)",US,Florida,6188,4,2,1,6

__Compute the duration in state level__

In [73]:
def state_level_month_low_act_duration(state):
    print(state)
    # bin 24 hrs in 15 min interval
    X = np.linspace(0,95,96)
    state_lable = np.array(geos[geos['state']==state]['label'])
    mirror_state_lable = state_lable*-1
    new_state_lable = np.concatenate((mirror_state_lable,state_lable))
    # optim_width calculation
    optim_width = 1.06*new_state_lable.std()*np.power(len(new_state_lable),-0.2)
    bw = optim_width
    kde=KernelDensity(kernel='gaussian',bandwidth=bw).fit(new_state_lable.reshape(-1, 1))
    log_pdf = kde.score_samples(X.reshape(-1,1))
    pdf=np.exp(log_pdf)
    
    # trough_period in hour
    trough_period = X[pdf <0.8*np.median(pdf)]/4
    try:
        low_activity_duration = trough_period.max() - trough_period.min()
    except:
        return 0
    # return low activity duration, when it starts, when it ends
    return low_activity_duration, trough_period.min(), trough_period.max()

In [70]:
state_list = list(geos.state.unique())

In [75]:
low_act_duration_state_dict = {}

for state in state_list:
    low_act_duration, start, end = state_level_month_low_act_duration(state)
    low_act_duration_state_dict[state] = {'duration': low_act_duration, 'start': start, 'end': end}

Illinois
California
Florida
Pennsylvania
Colorado
Minnesota
Kansas
Wisconsin
Washington
Texas
North Carolina
Alaska
Ohio
Missouri
New York
Alabama
Tennessee
Oregon
Virginia
New Jersey
Nebraska
Michigan
New Mexico
Massachusetts
Maryland
South Carolina
West Virginia
Georgia
Rhode Island
Indiana
Oklahoma
Iowa
Louisiana
Arkansas
Delaware
Utah
Maine
Connecticut
South Dakota
Arizona
Kentucky
Mississippi
Nevada
New Hampshire
Idaho
Vermont
Montana
Hawaii
North Dakota
Wyoming
Washington, D.C.

In [76]:
low_act_duration_state_dict

{'Illinois': {'duration': 7.75, 'start': 1.5, 'end': 9.25},
 'California': {'duration': 7.75, 'start': 2.25, 'end': 10.0},
 'Florida': {'duration': 8.25, 'start': 1.25, 'end': 9.5},
 'Pennsylvania': {'duration': 9.5, 'start': 0.0, 'end': 9.5},
 'Colorado': {'duration': 8.25, 'start': 1.25, 'end': 9.5},
 'Minnesota': {'duration': 9.25, 'start': 0.0, 'end': 9.25},
 'Kansas': {'duration': 9.25, 'start': 0.0, 'end': 9.25},
 'Wisconsin': {'duration': 9.5, 'start': 0.0, 'end': 9.5},
 'Washington': {'duration': 7.5, 'start': 2.0, 'end': 9.5},
 'Texas': {'duration': 7.75, 'start': 2.0, 'end': 9.75},
 'North Carolina': {'duration': 9.5, 'start': 0.0, 'end': 9.5},
 'Alaska': {'duration': 4.25, 'start': 2.75, 'end': 7.0},
 'Ohio': {'duration': 9.5, 'start': 0.0, 'end': 9.5},
 'Missouri': {'duration': 9.5, 'start': 0.0, 'end': 9.5},
 'New York': {'duration': 8.5, 'start': 1.0, 'end': 9.5},
 'Alabama': {'duration': 9.0, 'start': 0.0, 'end': 9.0},
 'Tennessee': {'duration': 9.5, 'start': 0.0, 'end': 9.5},
 'Oregon': {'duration': 7.0, 'start': 2.75, 'end': 9.75},
 'Virginia': {'duration': 9.25, 'start': 0.0, 'end': 9.25},
 'New Jersey': {'duration': 9.25, 'start': 0.0, 'end': 9.25},
 'Nebraska': {'duration': 9.25, 'start': 0.0, 'end': 9.25},
 'Michigan': {'duration': 9.25, 'start': 0.0, 'end': 9.25},
 'New Mexico': {'duration': 6.75, 'start': 2.25, 'end': 9.0},
 'Massachusetts': {'duration': 9.25, 'start': 0.0, 'end': 9.25},
 'Maryland': {'duration': 8.25, 'start': 1.0, 'end': 9.25},
 'South Carolina': {'duration': 9.0, 'start': 0.0, 'end': 9.0},
 'West Virginia': {'duration': 9.25, 'start': 0.0, 'end': 9.25},
 'Georgia': {'duration': 8.0, 'start': 1.5, 'end': 9.5},
 'Rhode Island': {'duration': 9.25, 'start': 0.0, 'end': 9.25},
 'Indiana': {'duration': 9.5, 'start': 0.0, 'end': 9.5},
 'Oklahoma': {'duration': 9.0, 'start': 0.0, 'end': 9.0},
 'Iowa': {'duration': 9.25, 'start': 0.0, 'end': 9.25},
 'Louisiana': {'duration': 7.0, 'start': 2.25, 'end': 9.25},
 'Arkansas': {'duration': 8.75, 'start': 0.0, 'end': 8.75},
 'Delaware': {'duration': 9.25, 'start': 0.0, 'end': 9.25},
 'Utah': {'duration': 7.25, 'start': 2.0, 'end': 9.25},
 'Maine': {'duration': 8.5, 'start': 0.0, 'end': 8.5},
 'Connecticut': {'duration': 9.25, 'start': 0.0, 'end': 9.25},
 'South Dakota': {'duration': 6.0, 'start': 2.75, 'end': 8.75},
 'Arizona': {'duration': 7.5, 'start': 2.0, 'end': 9.5},
 'Kentucky': {'duration': 8.75, 'start': 0.75, 'end': 9.5},
 'Mississippi': {'duration': 9.0, 'start': 0.5, 'end': 9.5},
 'Nevada': {'duration': 7.0, 'start': 2.25, 'end': 9.25},
 'New Hampshire': {'duration': 9.0, 'start': 0.0, 'end': 9.0},
 'Idaho': {'duration': 7.0, 'start': 1.75, 'end': 8.75},
 'Vermont': {'duration': 4.25, 'start': 0.0, 'end': 4.25},
 'Montana': {'duration': 8.25, 'start': 0.0, 'end': 8.25},
 'Hawaii': {'duration': 5.75, 'start': 2.75, 'end': 8.5},
 'North Dakota': {'duration': 8.25, 'start': 0.0, 'end': 8.25},
 'Wyoming': {'duration': 7.75, 'start': 0.0, 'end': 7.75},
 'Washington, D.C.': {'duration': 6.25, 'start': 0.0, 'end': 6.25}}